<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pasión futbolera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pasión futbolera</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              Mis metas
            </ion-col>
            <ion-col size="2">
              <ion-button (click)="openModal()">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let goal of goalsList">
          <ion-label>{{goal.type}} - {{goal.date | date}}</ion-label>
        </ion-item>
        <ion-item *ngIf="goalsList.length == 0">
          <ion-label>Sin metas registradas</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>